<nav class="navbar navbar-fixed-bottom navbar-expand-lg navbar-dark blue">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header float-left">
      <div>
        <a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse">
          <i class="fa fa-bars"></i>
        </a>
        <div class="logo-wrapper waves-light products">
          Products
        </div>
      </div>
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-auto float-right">
      <li class="nav-item">
        <div style="color:white">
        <i class="fa fa-list-alt"></i>
        </div>
      </li>
    </ul>

</nav>
