<div class="row">
  <app-header> </app-header>
</div>
<div class="row">
  <div class="col-md-3 left-menu">
    Users
  </div>
  <div class="col-md-6 middle-menu">
    All Users

  </div>
  <div class="col-md-3 right-menu">
    <i class="fa fa-th"></i>
    <i class="icon fa fa-align-left"></i>
    <i class="icon fa fa-cog"></i>
    <i class="icon fa fa-ellipsis-v"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-3 side-bar">
    <app-sidebar> </app-sidebar>
  </div>
  <div class="col-md-9 container-fluid">
    <router-outlet> </router-outlet>
    <app-search></app-search>
  </div>
</div>
