<div id="slide-out" class="side-nav fixed">
  <ul class="nav navbar-nav nav-flex-icons ml-auto">
    <li>
      <ul class="collapsible collapsible-accordion list-unstyled">
        <li>
          <a class="menu-header waves-effect arrow-r">
            <a href="/"> <i class="fa fa-user-circle"></i> All Users</a>
          </a>
        </li>
        <li>
          <a class="menu-header waves-effect arrow-r">
            <i class="fa fa-star"></i> Favourites
          </a>
        </li>
        <li>
          <a class="menu-header waves-effect arrow-r">
            <i class="fa fa-eye"></i> Administrators
          </a>
        </li>
        <li>
          <a class="menu-header waves-effect arrow-r">
            <i class="fa fa-users"></i> Non-Admins
          </a>
        </li>
        <li>
          <a class="menu-header waves-effect arrow-r">
            <i class="fa fa-archive"></i> Archived
          </a>
        </li>
      </ul>
    </li>
    <!--/. Side navigation links -->
  </ul>
</div>
