/* You can add global styles to this file, and also import other style files */
.dataTables_wrapper .dataTables_length {
  display: none;
}

.dataTables_wrapper .dataTables_filter {
  float: left !important;
  text-align: left !important;
}
